__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
/node_modules
.env
*.json
firebase-credentials.json
*.db
*.sqlite
*.sqlite3
.vscode/
.idea/
*.swp
*.swo
*.log
logs/
.DS_Store
Thumbs.db
snapshots/

